@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;
@use '../../assets/scss/abstracts/mixins' as mix;

.card {
	@include mix.flexbox;
	@include mix.flex-direction(column);
	width: 100%;
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
	background-color: var.$color-white;
	@include mix.border-radius(8px);
	@include mix.box-shadow(
		0 func.em(16, var.$font-size-primary)
			func.em(30, var.$font-size-primary) rgba(0, 0, 0, 0.04)
	);
	overflow: hidden;
}

.card-group,
.card-block {
	@include mix.flexbox;
	@include mix.flex-direction(column);
}

.card-block {
	padding: func.em(26, var.$font-size-primary)
		func.em(24, var.$font-size-primary);
}

h2.card-title {
	margin-bottom: func.em(20, 20);
}

.card-mark {
	margin-bottom: func.em(16, 15);
	line-height: 1.3;
}

.card-block--monthly-subsription,
.card-block--why-us {
	color: var.$color-light-gray;
}

.card-block--monthly-subsription {
	background-color: var.$color-cyan;
}

.card-block--why-us {
	background-color: var.$color-cyan-light;
}

h3.card-title {
	margin-bottom: func.em(18, 18);
	color: inherit;
}

.card-price {
	@include mix.flexbox;
	@include mix.align-items(center);
	margin-top: func.em(-6, var.$font-size-primary);
	font-size: func.em(16, var.$font-size-primary);
}

.card-price .num {
	margin-right: func.em(12, 31);
	font-size: func.em(31, 16);
	font-weight: var.$font-weight-700;
}

.card-price .label {
	color: var.$color-lighter-gray;
}

.card-block--monthly-subsription .card-desc {
	margin-bottom: func.em(28, 15);
	font-size: func.em(15, var.$font-size-primary);
}

.card-block .btn {
	font-size: func.em(16, var.$font-size-primary);
}

.card-list {
	line-height: 1.4;
}

.card-list li + li {
	margin-top: func.em(3, var.$font-size-primary);
}

@media (min-width: 48em) {
	.card {
		max-width: func.em(640, var.$font-size-primary);
	}

	.card-block {
		padding: func.em(38, var.$font-size-primary)
			func.em(40, var.$font-size-primary);
	}

	h2.card-title {
		font-size: func.em(24, var.$font-size-primary);
	}

	.card-mark {
		font-size: func.em(18, var.$font-size-primary);
	}

	.card-group {
		@include mix.flex-direction(row);
	}

	.card-group .card-block {
		width: 50%;
	}
}
