@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;

.card,
.card-group,
.card-list {
	display: flex;
	flex-direction: column;
}

.card {
	width: 100%;
	background-color: var.$color-white;
	margin: func.em(30, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
	border-radius: 8px;
	box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card-block--monthly-subsription,
.card-block--why-us {
	color: var.$color-light-gray;
}

.card-block--monthly-subsription {
	background-color: var.$color-cyan;
}

.card-block--why-us {
	background-color: var.$color-cyan-light;
}

.card-title {
	margin-bottom: func.em(20, 21);
}

.card-subtitle {
	margin-bottom: func.em(12, var.$font-size-primary);
	font-weight: var.$font-weight-700;
	color: var.$color-bright-yellow;
	line-height: 1.5;
}

.card-block--join-community .card-desc {
	font-size: func.em(15, var.$font-size-primary);
}

.card__group .card-title {
	margin-bottom: func.em(18, 18);
	color: inherit;
}

.card-price {
	display: flex;
	align-items: center;
	margin-top: func.em(-6, var.$font-size-primary);
}

.card-price .num {
	margin-right: func.em(12, 31);
	font-size: func.em(31, var.$font-size-primary);
	font-weight: var.$font-weight-700;
}

.card-price .label {
	color: var.$color-lighter-gray;
}

.card-block--monthly-subsription .card-desc {
	margin-bottom: func.em(30, var.$font-size-primary);
}

.card-list {
	gap: func.em(3, var.$font-size-primary);
	font-size: func.em(14, var.$font-size-primary);
	line-height: 1.4;
}

@media (min-width: 48em) {
	.card {
		max-width: func.em(640, var.$font-size-primary);
	}

	h2.card-title {
		font-size: func.em(24, var.$font-size-primary);
	}

	.card-subtitle {
		font-size: func.em(18, var.$font-size-primary);
	}

	.card-block--join-community .card-desc {
		font-size: inherit;
	}

	.card-group {
		flex-direction: row;
	}

	.card-block--monthly-subsription,
	.card-block--why-us {
		width: 50%;
	}
}
